@import "bootstrap_router";
@import "functions";
@import "fonts";

$family1: 'Roboto', sans-serif;
$family2: 'Roboto Mono', 'Monaco', 'Courier', monospace;
$family3: 'Helvetica', sans-serif;

body {
  font-weight:400;
  font-family: $family1;
  font-size:16px;
  @include breakpoint(print) {
    font-size:12pt;
  }
}

a {
  @include breakpoint(print) {
    text-decoration:none;
  }
}

.vcp {
  display:flex;
  align-items:center;
  .vcc {
    flex:1;
  }
  &.centered {
    justify-content:center;
  }
}

.nopad {
  padding:0;
}

.site-title {
  font-weight:700;
  font-size:10vw;
  text-transform: uppercase;
  letter-spacing:0.1em;
}

.page-container {
  width:auto;
  min-height:100vh;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding:0.1px 0 1em;
  @include breakpoint(sm-down) {
    padding:0;
  }
  @include breakpoint(print) {
    padding:0;
  }
}

.page-header {
  border-bottom:3px solid;
  padding-bottom:0.25em;
  margin:0 auto 1em;
  @include breakpoint(print) {
    page-break-after: avoid;
  }
}

.page-title {
  font-size:1.5em;
  font-weight:700;
  padding:0.5em 0 0;
  margin:0 0 0.125em;
}

.page-section {
  width:768px;
  margin:1em auto;
  padding:20px 40px;
  background-color: #fff;
  position:relative;
  @include breakpoint(sm-down) {
    width: auto;
  }
  @include breakpoint(xs) {
    padding:0 10px;
  }
  @include breakpoint(print) {
    margin-top:0;
    padding:0;
    page-break-after: always;
  }
}

.song-section {
  @extend .page-section;
  box-shadow: 0px 1px 5px 0px rgba(179,179,179,.6);
  .section-header {
    @extend .page-header;
    margin:0 auto 0.25em;
  }
  .section-title {
    @extend .page-title;
  }
  .artist {
    font-style: italic;
  }
  &.lyrics-only {
    .component-transpose {
      display:none;
    }
  }
}

.tools {
  border-bottom:1px solid #ddd;
  margin:0 0 0.5em;
  padding:0 0 0.25em;
  text-align:right;
  font-family: $family2;
  @include breakpoint(xs) {
    text-align:center;
  }
  @include breakpoint(print) {
    page-break-after: avoid;
  }
  .btn,
  .form-control {
    @include breakpoint(xs) {
      font-size: 0.8em;
    }
  }
}

.text-resize {
  display:inline-block;
}

.component-transpose {
  display:inline-block;
  vertical-align: -0.15em;
  margin-bottom: 0;
  border-right:1px solid #ddd;
  padding-right:1em;
  margin-right:0.5em;
  @include breakpoint(xs) {
    margin-right:0;
    padding-right:0;
  }
  select {
    width:auto;
    display:inline-block;
  }
}

.mode-toggle {
  text-transform:uppercase;
  font-weight: 700;
}

.sheet-content {
  font-family: $family2;
  font-size:1em;
  white-space:pre;
  padding-bottom:2em;
  @include breakpoint(print) {
    border:none;
    padding-bottom:0;
    page-break-before: avoid;
    page-break-inside: auto !important;
  }
  p {
    margin:0;
  }
  .block-title {
    strong {
      border-bottom: 1px solid #eee;
      text-transform:uppercase;
      font-size:0.85em;
      background: #eee;
      padding:0 0.3em;
      @include breakpoint(print) {
        padding:0;
        border-bottom:1px solid #000;
        page-break-after: avoid !important;
      }
    }
  }
  .chord {
    @include breakpoint(print) {
      font-weight:700;
    }
  }
  span:nth-child(odd) {
    @include breakpoint(print) {
      page-break-after:avoid !important;
    }
  }
  &.lyrics-only {
    white-space:normal;
    font-family: $family3;
    font-weight:900;
    font-size:1.25em;
    text-transform:uppercase;
    span {
      display:block;
    }
    span:nth-child(odd) {
      display:none;
    }
    .block-title {
      display:block;
      margin-top:0.75em;
      margin-bottom: 0.25em;
      strong {
        display:none;
        &.for-lyrics {
          display:inline-block;
          border-bottom: 1px solid;
          font-size:0.75em;
          font-family: sans-serif;
          font-weight:700;
          background: transparent;
          padding:0;
        }
      }
    }
  }
}

.song-items {
  padding:0;
  margin:0;
  list-style:none;
  .song-item {
    @include clearfix();
    border-bottom:1px solid #eee;
    margin-bottom:0.5em;
    padding-bottom:0.5em;
    .meta-data {
      float:right;
      @include breakpoint(xs) {
        float:none;
        display:block;
        text-align:left;
      }
    }
    .cb-container {
      margin-right:0.5em;
    }
    .song-details {
      font-style:italic;
      font-size:14px;
    }
    .modified {
      font-size:10px;
    }
    .categories,
    .tags {
      li {
        a {
          display:block;
          border-radius:4px;
          background: #888;
          color:#fff;
          padding:0.25em 0.5em;
          text-decoration:none;
        }
      }
    }
    .categories {
      a {
        background: #888;
      }
    }
    .tags {
      a {
        background: #aaa;
      }
    }
    > div {
      display:inline-block;
      text-align:right;
      @include breakpoint(xs) {
        //text-align:left;
      }
      > ul {
        font-size:12px;
        color:#aaa;
        display:inline-block;
        list-style:none;
        padding:0 0 0 0.5em;
        margin:0 0 0 0.25em;
        @include breakpoint(xs) {
          margin-left: 0;
          padding-left:0;
        }
        li {
          display:inline-block;
        }
      }
    }
  }
}

.spacer {
  display:none;
  @include breakpoint(print) {
    display:none;
  }
}

.search-container {
  background-color: #bbb;
  padding:1em;
  margin:0 auto;
  .btn-search {
    text-transform:uppercase;
    letter-spacing:0.12em;
    padding:0.3em 1em;
  }
  @include breakpoint(xs) {
    padding:20px 10px;
  }
}
.song-list {
  margin-top:0;
  @include breakpoint(xs) {
    padding-top:1em;
  }
}

.form-group {
  &:last-child {
    margin-bottom:0;
  }
}

.printables {
  position:absolute;
  top:0;
  right:0;
  left:0;
  font-size:8px;
  text-transform:uppercase;
  letter-spacing:0.1em;
  text-align:right;
  > span {
    display:block;
    white-space: nowrap;
  }
  .orig-key {
    text-transform: none;
  }
}

.sheet-section {
  border-top: 2px solid #111;
  .section-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-left: 0.5em;
    padding-bottom:0.5em;
    margin-bottom:0.5em;
  }
}

.lineup-header {
  text-align:center;
  background-color: #444;
  padding:0.125em 0;
  .lineup-title {
    color:#fff;
    font-size:1.2em;
  }
}

.notes-block {
  border: 1px solid #111;
  //display:none;
  @include breakpoint(print) {

  }
}

@import "jtab-helper";
