//Fonts

/* @font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/robotomono-regular.woff2') format('woff2'),
         url('../fonts/robotomono-regular.woff') format('woff'),
         url('../fonts/robotomono-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/robotomono-regular-italic.woff2') format('woff2'),
         url('../fonts/robotomono-regular-italic.woff') format('woff'),
         url('../fonts/robotomono-regular-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/robotomono-bold.woff2') format('woff2'),
         url('../fonts/robotomono-bold.woff') format('woff'),
         url('../fonts/robotomono-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/robotomono-bold-italic.woff2') format('woff2'),
         url('../fonts/robotomono-bold-italic.woff') format('woff'),
         url('../fonts/robotomono-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
} */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-italic.woff2') format('woff2'),
         url('../fonts/roboto-regular-italic.woff') format('woff'),
         url('../fonts/roboto-regular-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff'),
         url('../fonts/roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-italic.woff2') format('woff2'),
         url('../fonts/roboto-bold-italic.woff') format('woff'),
         url('../fonts/roboto-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helveticaneue-black-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo500-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo500-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
