@mixin breakpoint($point) {
  @if $point == xs {
    @media screen and (max-width: $screen-xs-max) { @content; }
  }
  @else if $point == sm {
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
  }
  @else if $point == sm-down {
    @media screen and (max-width: $screen-sm-max) { @content; }
  }
  @else if $point == md {
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
  }
  @else if $point == md-up {
    @media screen and (min-width: $screen-md-min) { @content; }
  }
  @else if $point == lg {
    @media screen and (min-width: $screen-lg-min) { @content; }
  }
  @else if $point == print {
    @media print { @content; }
  }
}
