// partial files are called from _sass_partials folder //
@import "bootstrap_router";
@import "sitevars";
@import "placeholder";
@import "functions"; // media query functions deprecated by TWBS 4.0
@import "fonts";
@import "colors";
@import "twbs_addons";
@import "keyframes";
////////////////////////////////////////////////////////

$family1: 'Roboto', sans-serif;
$family2: 'Roboto Mono', 'Monaco', 'Courier', monospace;
$family3: 'Helvetica', sans-serif;

/* global styles */
body {
  font-family: $family1;
  line-height: 1.6;
  color: $textgray;
  background-color: #f8f8f8;
  @include breakpoint(print) {
    background-color: #fff;
  }

  &.nav-shown {
    .menu-container {
      left: 0;
    }
  }
}

pre {
  color: $textgray;
}

.stage-container {

  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  .mask-container {
    height: auto;
    margin: 1em 0 2em;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      right: 1px;
      background: linear-gradient(-45deg, #4a89aa, #905e79, #1c726d,  #c26558);
      background-size: 600% 600%;
      animation: Gradient 15s ease infinite;
      // background: url(../images/meadow.jpg) no-repeat center 53%;
      // background-size: cover;
      // animation: VerticalPan 120s ease infinite;
      z-index: -1;
    }
  }
}

#SelahMask {
  width:90vw;
  height:auto;
}

.login-container {
  text-align: center;
  .register-link {
    @extend %uppercase;
    color: $mgray;
  }
}

.btn {
  border-radius: 2px;
  &.inblock {
    display: inline-block;
  }
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:active {
    background-color: darken($primary, 15%);
  }
}

.btn-login-big {
  @extend %uppercase;
  font-size: 1.25em;
  font-weight: 300;
  padding:2.95em 2em;
  margin:1em auto 1.5em;
  border-radius: 50%;
  text-align: center;
}


//SONGS

.songs-container,
.lineups-container {
  margin: 20vh 0 0;
  @include media-breakpoint-up(xl) {
    margin: 20vh 10% 0;
  }
}

textarea:focus,
input:focus{
  outline: none;
}

input.modern {
  background-color: transparent;
  border: 0 solid;
  border-bottom: 1px solid $lgray;
  border-radius: 0;
  &:focus {
    background-color: transparent;
    border-color: $lgray;
  }
}

.component-search-bar {
  margin-bottom: 1em;
  .btn-search {
    @extend %uppercase;
    font-size: 1em;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid $lgray;
    color: $lgray;
    cursor: pointer;
  }
}

#SearchKeyword {
  font-size: 2em;
  text-align: center;
}

.status-message {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  color: $lgray;
  margin: 1em auto;
}

.songs-list,
.lineups-list {
  .item {
    margin-bottom: 1.6em;
    a, a:hover {
      text-decoration: none;
      color: $textgray;
    }
  }

  .item-bounds {
    background-color: #fff;
    padding: 15px;
    height: 130px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba($lgray,0.6);
    position: relative;
    transition: box-shadow 0.125s $easeInOutQuad, background-color 0.125s $easeInOutQuad;
    &:hover {
      box-shadow: 4px 4px 12px rgba($lgray,0.8);
    }

    &.item-new {
      background-color: $primary;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25em;
      font-weight: 300;
      &:hover {
        background-color: lighten($primary, 2%);
      }
    }
  }

  .song-artist,
  .lineup-wl {
    color: #888;
    font-size: 0.75em;
  }

  .song-title,
  .lineup-title {
    font-size: 1.125em;
    font-weight: 400;
    margin:0.6em 0 0.7em;
    overflow: hidden;
  }

  .lineup-title {
    text-align: center;
  }

  .song-tags,
  .lineup-tags {
    position: absolute;
    bottom: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    .item-tag {
      @extend %uppercase;
      display: block;
      float: left;
      font-size: 0.5625em;
      font-weight: 300;
      color: #fff;
      padding:0.06em 0.25em;
      margin: 0 0 0.125em 0.125em;
    }
  }
}

.lineups-list {
  .item-bounds {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
}

.item-tag {
  background-color: $lgray;
  &.tag-fast {
    background-color: lighten($fast,10%);
  }
  &.tag-slow {
    background-color: lighten($slow,10%);
  }
  &.tag-english {
    background-color: lighten($english,10%);
  }
  &.tag-tagalog {
    background-color: lighten($tagalog,10%);
  }
}

//OFF-CANVAS NAV

.menu-button {
  display: block;
  float:right;
  padding: 0.65em 0.9em;
  background-color: transparent;
}

.burger-icon {
  @include burger(30px, 3px, 6px, #fff);

  .is-active & {
    &::before,
    &::after {
      background-color: #fff;
    }
  }
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

.menu-container {
  width: 300px;
  height: 100vh;
  background-color: $dblue;
  color: #fff;
  padding: 1em 2em 2em;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 100;
  transition: left 0.5s $easeInOutQuad;
  @include media-breakpoint-only(xs) {
    width: 80vw;
    left: -80vw;
  }
}

.hamburger-container {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -60px;
  top: 0;
  background-color: $dblue;
  display: flex;
  align-items: center;
  @include media-breakpoint-down(md) {
    top: auto;
    bottom: 0;
  }
}

#SiteLogo {
  width: 100%;
  height: auto;
  display: block;
  margin: 1.2em auto 1.5em;
}

.site-nav-container {
  a {
    color: #ccc;
    padding: 1em;
    display:block;
    transition: background-color 0.25s $easeInOutQuad, color 0.25s $easeInOutQuad;
    &:hover {
      color: #fff;
      background-color: lighten($dblue, 5%);
      text-decoration: none;
    }
  }
}

.site-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    @extend %uppercase;
    margin: 0;
    border-bottom: 1px solid lighten($dblue, 10%);

  }
}

.page-section {
  width:768px;
  margin:1em auto;
  padding:20px 40px;
  background-color: #fff;
  position:relative;
  @include media-breakpoint-down(sm) {
    width: auto;
  }
  @include media-breakpoint-only(xs) {
    padding:0 10px;
    margin: 0;
  }
  @include breakpoint(print) {
    margin-top:0;
    padding:0;
    page-break-after: always;
  }
}

.page-header {
  border-bottom:3px solid;
  padding-bottom:0.25em;
  margin:0 auto 1em;
  @include breakpoint(print) {
    page-break-after: avoid;
  }
}

.page-title {
  font-size:1.5em;
  font-weight:700;
  padding:0.5em 0 0;
  margin:0 0 0.125em;
}

//Song Page
.song-section {
  @extend .page-section;
  box-shadow: 0px 1px 5px 0px rgba(179,179,179,.6);
  .section-header {
    @extend .page-header;
    margin:0 auto 0.5em;
    @include breakpoint(print) {
      width: 70%;
      margin: 0;
    }
  }
  .section-title {
    @extend .page-title;
  }
  .artist {
    font-style: italic;
  }
}

.sheet-content {
  font-family: $family2;
  font-size:1em;
  white-space:pre;
  padding-bottom:2em;
  position: relative;
  @include breakpoint(print) {
    border: none;
    padding-bottom: 0;
    page-break-before: avoid;
    page-break-inside: auto;
    margin-bottom:0;
    overflow: hidden;
  }
  p {
    margin:0;
  }
  .block-title {
    margin:0;
    padding:0;
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    display:inline-block;
    strong {
      @extend %uppercase;
      border-bottom: 1px solid #eee;
      font-size:0.85em;
      background: #eee;
      padding:0 0.3em;
      @include breakpoint(print) {
        padding:0;
        margin-bottom: 0;
        border-bottom:1px solid #000;
        page-break-after: avoid !important;
      }
    }
  }
  .chord,
  .chord:not(href):not(tabindex) {
    color: $primary;
    text-transform: none !important;
    @include breakpoint(print) {
      font-weight:700;
    }
  }

  .lyrics {
    @include breakpoint(print) {
      display:block;
      page-break-before: avoid;
      page-break-after: auto;
      break-before: avoid;
    }
  }

  .song-block {
    margin-bottom:1.5em;
    @include breakpoint(print) {
      margin-bottom:1em;
      page-break-after: auto;
    }
  }

  &.lyrics-only {
    white-space: normal;
    font-family: $family1;
    font-weight: 900;
    font-size:1.4em;
    //text-transform:uppercase;
    span {
      display:block;
    }
    // removed - v.17.1203
    // span:nth-child(odd) {
    //   display:none;
    // }

    .lyrics {
      display:block;
    }

    .block-key,
    .block-intro,
    .chords {
      margin: 0;
      padding: 0;
      height: 0;
      overflow: hidden;
      display: none;
      line-height: 0;
    }

    .block-key {
      @include breakpoint(print) {
        display: block;
      }
    }

    .song-block {
      margin-bottom: 1em;
    }

    .block-title {
      display:block;
      margin-top:0.75em;
      margin-bottom: 0.25em;
      @include breakpoint(print) {
        margin: 0;
        padding: 0;
        height: 0;
        overfow: hidden;
      }
      strong {
        display:none;
        &.lyrics-visible {
          display: inline-block;
          border-bottom: 1px solid;
          font-size: 0.7em;
          font-family: $family1;
          font-weight: 400;
          background: transparent;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.printables {
  position:absolute;
  top:0;
  right:0;
  left:0;
  font-size:8px;
  text-transform:uppercase;
  letter-spacing:0.1em;
  text-align:right;
  > span {
    display:block;
    white-space: nowrap;
  }
  .orig-key {
    text-transform: none;
  }
}

// TOOLBOX
.tools {
  position: absolute;
  top:0;
  right: 40px;
  text-align:right;
  font-family: $family2;
  overflow: hidden;
  @include media-breakpoint-only(xs) {
    text-align:center;
    right:0;
  }
  @include breakpoint(print) {
    page-break-after: avoid;
  }

  .toolset {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding:0.25em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #eee;
    transform: translateX(0);
    transition: transform 0.5s $easeInOutQuad;
  }

  .toolbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:0;
    padding:0.25em;
    background-color: #eee;
    transform: translateX(100%);
    transition: transform 0.5s $easeInOutQuad;

  }

  &.toolbox-active {
    .toolbox {
      transform: translateX(0);
    }
    .toolset {
      transform: translateX(100%);
    }
  }

  .btn,
  .form-control {
    font-size: 0.7em;
    @include media-breakpoint-only(xs) {
      font-size: 0.8em;
    }
  }

  .btn {
    cursor: pointer;
    margin: 0 2px;
  }

  [class^="ico-"], [class*=" ico-"] {
    font-size: 1.5em;
  }
  .mode-toggle {
    @extend %uppercase;
    background-color: #7abc6b;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px;
    .lyrics-only & {
      background-color: $lgray;
      color: #eee;
    }
  }

  .btn-ico {
    padding: 0.4rem 0.8rem;
  }

  .btn-close {
    color: #fff;
    background-color: $dgray;
  }
}

.text-resize {
  display: flex;
  justify-content: center;
  margin: 0 1px;
  .btn {
    font-weight: 700;
    margin:0 1px;
    background-color: $lgray;
  }
}

.component-transpose {
  display:block;
  //vertical-align: -0.15em;
  margin-bottom: 0;
  @include breakpoint(xs) {
    margin-right:0;
    padding-right:0;
  }
  select {
    width:auto;
    display:inline-block;
    height: calc(2.59em + 2px) !important;
  }
  .lyrics-only & {
    display: none;
  }
}

//LINEUP
.sheet-section {
  border-top: 2px solid #111;
  .section-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-left: 0.5em;
    padding-bottom:0.5em;
    margin-bottom:0.5em;
  }
}

.lineup-header {
  text-align:center;
  background-color: #444;
  padding:0.125em 0;
  .lineup-title {
    color:#fff;
    font-size:1.2em;
  }
}

.font-selah-annotations {
  font-family: 'SelahAnnotations';
  font-size:1px;
}

//NOTES
.notes-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 28%;
  height: 100%;
  break-inside: avoid;
}

.annotations {
  font-size:1em;
  border: 1px solid #000;
  .title {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding: 2px 0.5em;
  }
  .icons {
    padding: 0 0.5em 0.5em;
    column-count: 2;
    .item {
    
    }
  }
  .icon {
    vertical-align: middle;
  }
  .icon-label {
    font-size: 0.65em;
    margin-left: 0.25em;
    white-space: nowrap;
  }
}

.notes-block {
  page-break-inside: avoid !important;
  border: 1px solid #111;
  height: 45em;
  margin-top: 0.5em;
  margin-bottom: 0;
  display: none;
  overflow: hidden;
  .block-intro & {
    height: 5em;
  }
  .with-notes & {
    @include breakpoint(print) {
      display: block;
    }
  }
  &::before {
    content: 'NOTES:';
    padding-left: 2px;
    display: block;
    font-size: 10px;
    font-weight: 400;
  }
}

.with-notes {
  .lyrics-only .song-block .notes-block {
    @include breakpoint(print) {
      display: none;
    }
  }
  .lyrics-only .block-lyrics-visible .notes-block {
    @include breakpoint(print) {
      display: block;
    }
  }
}

//PRINT
.visible-print {
  display: none;
  @include breakpoint(print) {
    display: block;
  }
}

.printables {
  position:absolute;
  top:0;
  right:0;
  left:0;
  font-size:8px;
  text-transform:uppercase;
  letter-spacing:0.1em;
  text-align:right;
  > span {
    display:block;
    white-space: nowrap;
  }
  .orig-key {
    text-transform: none;
  }
}


.btn-link {
  &:hover {
    text-decoration: none;
  }
}

.btn-reversed {
  color: #fff;
  &:hover {
    color: $green;
  }
}

.btn-logout {
  background-color: darken($error, 20%);
  &:hover {
    background-color: $error !important;
  }
}